/* diagra.css */

body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0; /* Eliminar el margen predeterminado del body */
  padding: 0; /* Eliminar el relleno predeterminado del body */
}

header {
  background-color: #e68014;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0; /* Eliminar el margen superior e inferior del encabezado */
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Estilos para los botones de inventario */
.botones-inventario {
  margin-top: 20px;
}

.botones-inventario button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botones-inventario button:hover {
  background-color: #0056b3;
}

/* Estilos para resaltar la tabla */
.resaltar-tabla {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
